*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    background: rgb(245, 249, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banking_form{
    background: #82E7EC;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(163, 161, 161);
}
h4{
    color: blue;
}